.back {
  position: relative;
  text-align: center;
  color: blanchedalmond;
}
#ove {
  position: absolute;
  top: 300px;
  bottom: 20px;
  font-size: xxx-large;
  margin-left: 50px;
}
#f1 {
  height: 570px;
  width: 100%;
}
li {
  list-style-type: none;
}

#menu {
  list-style: none;
  display: flex;
  padding: 3px;
  gap: 32px;
  margin-left: 420px;
  flex-direction: row;
}
nav {
  display: flex;
}
#behi{
  background-color: #0d223d;
  height: 60px;
  text-align: left;
  font-size: large;
  padding-top: 20px;
  justify-content: space-evenly;
  color: aliceblue;
  margin-left: 55px;
  margin-right: 55px;
  border-radius: 30px;
}
.content{
    height: 100px;
    padding: 0%;
    margin-bottom: 100px;
    margin-top: 100px;
}
.image{
    overflow: auto;
  display: flex;
  gap: 12px;
  padding: 0;
  width: 100%;
  height: 200px;
  margin-bottom: 200px;
}
.foto1 {
  height: 140px;
  margin: 200px;
  width: 300px;
  flex-direction: row;
  margin-left: 4px;
  border-radius: 820px;
}
#few{
    margin-bottom: 30px;
    height: 20px;
    padding: 0;
    align-content: center;
    margin-left: 55px;
}
.foot {
  margin-bottom: 12%;
  bottom: 502px;
  height: 42%;
  flex-direction: column;
  padding: 12px;
  li {
    align-content: center;
    padding: 10px;
  }
}
.container {
  display: flex;
}
.photos {
  display: flex;
  img {
    display: flex;
    gap: 12px;
    width: 100%;
    height: 270px;
    flex-direction: row;
  }
}
.stobere {
  display: flex;
  overflow-x: auto;
  gap: 120px;
}
.stob {
  display: flex;
  gap: 12px;
  img {
    gap: 420px;
    width: 100%;
    border-radius: 12px;
    height: 200px;
    flex-direction: row;
  }
}
.mid {
  display: flex;
  gap: 20px;
  img {
    border-radius: 15px;
  }
}
.dim{
    display: flex;
    overflow-x: auto;
}
.imagi{
    flex-direction: row;
}

footer {
  display: flex;
  gap: 15%;
}
.input {
  border-radius: 22px;
  background-color: white;
  position: absolute;
  top: 400px;
  padding: 0px;
  padding-left: 0.5cm;
  padding-right: 0.5cm;
  bottom: 80px;
  font-size: xxx-large;
  margin-left: 40px;
}
#sti{
    position: sticky;
}
.girl {
  position: relative;
  text-align: justify;
  font-size: center;
}
h2 p{
    text-align: left;
    margin-left: 55px;
}
.blue {
  color: dodgerblue;
}
.icon {
  display: flex;
  padding: 60px;
  gap: 32px;
  font-size: small;
}
.icon img {
  height: 52px;
}
.obj {
  position: absolute;
  background-color: cornsilk;
  top: 20px;
  margin-bottom: 3cm;
  margin-left: 2cm;
  margin-top: 2cm;
  padding: 65px;
  border-radius: 40px;
  color: #0d223d;
  font-size: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.ic1{
  text-align: left;
}
button {
  background-color: #0d223d;
  border-radius: 100px;
  padding: 20px;
  color: azure;
}
.bot {
  bottom: 52px;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 200px;
  text-align: left;
}

